<div th:replace="~{/fragments/header}"></div>
<main class="container">
  <h1>Личный кабинет</h1>
  <form th:action="@{/profile/update-password}"
        th:method="post"
        th:object="${form}">
       <div class="mb-3">
         <label for="newPassword" class="form-label">Новый пароль</label>
         <input th:field="*{newPassword}"
                th:errorclass="is-invalid"
                type="password"
                class="form-control"
                name="newPassword"
                id="newPassword"/>
         <small th:if="${#fields.hasErrors('newPassword')}"
                 th:errors="*{newPassword}"
                 class="text-danger">Поле обязательно для заполнения</small>
       </div>
       <div class="mb-3">
         <label for="confirmPassword" class="form-label">Повторите новый пароль</label>
         <input th:field="*{confirmPassword}"
                th:errorclass="is-invalid"
                type="password"
                class="form-control"
                name="confirmPassword"
                id="confirmPassword"/>
         <small th:if="${#fields.hasErrors('confirmPassword')}"
                 th:errors="*{confirmPassword}"
                 class="text-danger">Поле обязательно для заполнения</small>
       </div>
<button type="submit" class="btn btn-outline-primary">Cохранить</button>
  </form>
</main>
<div th:replace="~{/fragments/footer}"></div>
